<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>HelloCordova</name>
  <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
  <content src="http://192.168.178.24:9000"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <hook src=".cordova-hooks/yarn-enforce.js" type="before_build"/>
  <hook src=".cordova-hooks/switch-local-remote-content.js" type="before_build"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:usesCleartextTraffic="true"/>
    </edit-config>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <allow-navigation href="http://localhost:9000/*"/>
  <allow-navigation href="http://192.168.178.24:9000/*"/>
</widget>